body {
	margin: 0px;
	background: black;
	color: white;
	font-family: Calibri;
}

h1 {
	text-align: center;
	margin: 0px;
	margin-bottom: 50px;
	
}

div {
	width: 1000px;
	height: auto;
	border: 3px solid green;
	border-radius: 15px;
	margin-bottom: 50px;
}

p {
	margin: 5px;
	text-align: center;
}

h3 {
	margin: 5px;
	text-align: center;
}